doctype html
html(lang="en")
  head
    title #{title}
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,300,400', type='text/css' rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')

  body
    div.container
      div.head
        div.title ip-spot.com
        div.desc lookup site IP's

      div.your-ip 
        span.text Your IP address is
        span.your-ip-address #{ip}

      form#form
        div.search-container
          i.input-icon.fa.fa-search
          input#search.search
        input#submit(type='submit')

      div.recent-lookups
        span Recent lookups
        for data in recent_lookups
          div.lookup
            span.hostname #{data.hostname}
            span.address
              span.recent-ip #{data.ip}
              span.recent-meta [#{data.country}]

    script(src="/js/app.js")
